.categories-list
    padding 0 20px
    width 100%
    box-sizing border-box
    display flex
    justify-content center
    overflow auto
    color #44535B
    .categories-list__item 
        padding 0 20px
